<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GeoLocateThis - About</title>
    </head>

    <body>
        <header>
            <a href="/"><strong>GeoLocateThis</strong></a>
        </header>

        <main>
                <h3>How does it work?</h3>

                <blockquote>
                    <p>"Why can't I just ask google maps to show me all restaurants in certain area with approximate distance of 20 metres from newspaper kiosk...?"</p>
                    <footer><cite title="Source Title">musafir at geolocating workshop</cite></footer>
                </blockquote>

                <ul>
                    <li>Now I can! This app allows to query Google Maps API for 2 specific places within given distance from each other in a specified area.</li>
                </ul>

                <h4>Parameters:</h4>
                <ul>
                    <li><b>Latitude and Logtitude:</b> points to the center of the search area.</li>
                    <li><b>Radius:</b> defines radius of the search area from given above coordinates.</li>
                    <li><b>Keyword:</b> a term to be matched against all content that Google has indexed for this place, including but not limited to name, type, and address, as well as customer reviews and other third-party content. For best results use local
                        language.</li>
                    <li><b>Category [optional]:</b> restricts the results to places matching the specified type.</li>
                    <li><b>Distance:</b> defines approximate (+/-20m) distance between two given places. Tip: When in doubt, it's better to underestimate than overestimate.</li>
                </ul>

                <h4>What then?</h4>
                <ul>
                    <li>Press SEARCH and wait patiently. With large radius (&gt;10,000) and popular landmarks, it can take a while to generate result.</li>
                    <li>If found, results are displayed on a map and in a table at the bottom of the page.</li>
                </ul>
        </main>
    </body>
</html>
