<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GeoLocateThis</title>
    </head>

    <body>
        <header>
            <strong>GeoLocateThis</strong>
            <a href="/about">about</a>
        </header>

        <main>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <label for="Latitude" class="active">Latitude</label>
                {{ form.latitude(id="longitude", class="white-text form-control", placeholder="Decimal Degrees")}}
                <label for="longitude" class="active">Longitude</label>
                {{ form.longitude(id="longitude", class="white-text form-control", placeholder="Decimal Degrees")}}
                <label for="Radius" class="active">Radius</label>
                {{ form.radius(id="Radius", class="white-text form-control", placeholder="in meters (max 50,000)")}}
                <label for="keyword1" class="active">Keyword for Place 1</label>
                {{ form.keyword1(id="keyword1", class="white-text form-control")}}
                <label for="category1" class="active">Category for place 1</label>
                {{ form.category1(id="category1", class="white-text form-control")}}
                <label for="keyword2" class="active">Keyword for Place 2</label>
                {{ form.keyword2(id="keyword2", class="white-text form-control")}}
                <label for="category2" class="active">Category for place 1</label>
                {{ form.category2(id="category2", class="white-text form-control")}}
                <label for="distance" class="active">Distance Between</label>
                {{ form.distance(id="distance", class="white-text form-control", placeholder="in meters")}}
                {{ form.submit(class="btn btn-indigo") }}
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <h3>Results</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Results</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{ message[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endwith %}
        </main>
    </body>
</html>
